name: Game Status Check
on:
  repository_dispatch:
    types: [trigger-monitor]
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          playwright install chromium --with-deps

      - name: Create Cookies File
        run: echo '${{ secrets.COOKIES_JSON }}' > cookies.json

      - name: Run Check
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: python monitor.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add last_status.txt
          # The "|| exit 0" prevents the workflow from failing if there are no changes to commit
          git commit -m "chore: update game status [skip ci]" || exit 0
          git push
